.container {
    display: "flex";
    margin: auto;
    width: 50px;
    margin-top: 20px;
}

.container input{
    border-radius: 5px;
    height: 20px;
}

.container button {
    border-radius: 5px;
    height: 20px;
    background-color: lightpink;
    color: blue;
    padding: 1px;
    font-size: 10px;
}